/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  border: 1px solid;
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-right: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}